.App {
  /* text-align: center; */
  background-color: aliceblue;
  width: 1300px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  text-transform: uppercase;
  background-color: bisque;
  margin-inline: auto;
  margin-block: 1rem;
  font-size: 3rem;
  padding: 1rem;
  border-radius: 15px;
}

h3 {
  background-color: violet;
  margin-inline: auto;
  margin-block: 1rem;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 15px;
}

.form-row {
  width: 100%;
  display: flex;
  padding-inline: 1rem;
  margin-block: .5rem;
}

.form-row input {
  flex-grow: 1;
  margin-left: 1rem;
  border-radius: 5px;
  padding: 0 .3rem;
}

.form-row label {
  flex-basis: 100px;
  background-color: teal;
  border-radius: 5px;
  padding: .5rem 1rem;
  text-align: center;
  color: white;
}