.App {
  /* text-align: center; */
  background-color: aliceblue;
  width: 1300px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
