.App {
  text-align: center;
}

.ani-fadein {
  animation: fade-in 2s;
}

.ani-fadeout {
  animation: fade-out 1s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes fade-out {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

.words-container {
  width: 1300px;
  height: 500px;
  background-color: aliceblue;
  margin-inline: auto;
}