.App {
  text-align: center;
}



.ani-fadein {
  animation: fade-in 2s;
}

.ani-fadeout {
  animation: fade-out 1s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes fade-out {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}
.words-title {
  text-align: center;
  font-size: 4rem;
  margin-bottom: .5rem;
  color: #ddd6fe;
  -webkit-text-stroke: 2px #6b21a8;
}
.words-container {
  width: 1300px;
  height: 800px;
  background-color: aliceblue;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
 
  align-items: center;
  cursor: pointer;
  border-radius: 15px;
}

.word-rfc {
  margin-top: 1rem;
  font-size: 4rem;
}

.def-rfc {
  /* margin-top: auto; */
  margin-bottom: auto;
  font-size:2.5rem;
}

.idx-rfc {
  margin-top: auto;
  margin-left: auto;
  margin-right: 2rem;
  font-size: 1.5rem;
}

.file-uploader {
  margin-inline: auto;
  width: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-msg{
  font-size: 2.2rem;
  background-color: #2563eb;
  border-radius: 15px;
  padding: 1rem 2rem;
  margin-bottom: .3rem;
  color: #bfdbfe;
  margin-top: 0;
  box-shadow: 1px 1px 8px 0px rgb(37 99 235);
}

.btn-group {
  display: flex;
  flex-direction: row;
  width: 850px;
}

.btn-group button {
  margin-inline: auto;
  padding: 1rem 2.5rem;
  font-size: 1.3rem;
  background-color: #6b21a8;
  color: #e9d5ff;
  letter-spacing: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 8px 0px rgb(126 34 206);
  
}