.App {
  text-align: center;
}



.ani-fadein {
  animation: fade-in 2s;
}

.ani-fadeout {
  animation: fade-out 1s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes fade-out {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}
.words-title {
  text-align: center;
  font-size: 4rem;
  margin-bottom: .5rem;
  color: #ddd6fe;
  -webkit-text-stroke: 2px #6b21a8;
  text-shadow: 2px 2px 2px #6b21a8;
}
.words-container {
  width: 1300px;
  height: 800px;
  background-color: aliceblue;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
 
  align-items: center;
  cursor: pointer;
  border-radius: 15px;
}

.word-rfc {
  margin-top: 1rem;
  font-size: 4rem;
  padding: 1rem;
  text-align: center;
}

.def-rfc {
  /* margin-top: auto; */
  margin-bottom: auto;
  font-size:2.5rem;
  padding: 1rem;
  text-align: center;
}

.idx-rfc {
  margin-top: auto;
  margin-left: auto;
  margin-right: 2rem;
  font-size: 1.5rem;
}

.file-uploader {
  margin-inline: auto;
  width: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-msg{
  font-size: 2.2rem;
  background-color: #2563eb;
  border-radius: 15px;
  padding: 1rem 2rem;
  margin-bottom: .3rem;
  color: #bfdbfe;
  margin-top: 0;
  box-shadow: 1px 1px 8px 0px rgb(37 99 235);
  user-select: none;
}

.btn-group {
  display: flex;
  flex-direction: row;
  width: 850px;
}

.btn-group button {
  margin-inline: auto;
  padding: 1rem 2.5rem;
  font-size: 1.3rem;
  background-color: #6b21a8;
  color: #e9d5ff;
  letter-spacing: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 8px 0px rgb(126 34 206);
  
}

input[type="file"]{
  margin-top:1rem;
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: .5rem 1rem;
  cursor: pointer;
  margin-top:1rem;
  font-size: 1.2rem;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.file-uploader p {
  margin-block: 1rem;
  background-color: #2563eb;
  color: white;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 10px;
  min-width: 100px;
  text-align: center;
  box-shadow: 1px 1px 8px 0px rgb(37 99 235);
  user-select: none;
}

.options-form {
  margin-inline: auto;
  width: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options-form form {
  padding: 1rem;
  /* background-color: red; */
  min-width: 400px;
  display: flex;
  flex-direction: column;
}

.options-form form button {
  align-self: center;
}
.row {
  display: flex;
}

.row input[type="checkbox"]{
  transform: scale(1.9);
  margin-right: 1rem;
  margin-left: 8px;
  accent-color: #5b21b6;
}
.row> *:first-child {
  margin-right: .3rem;
}

.row > label {
  font-size: 1.5rem;
}